"IDEAVIM PLUGINS"
plug 'machakann/vim-highlightedyank'
plug 'tpope/vim-commentary'
plug 'preservim/nerdtree'
plug 'terryma/vim-multiple-cursors'

"SETTINGS"
set scrolloff=10
set incsearch
"set number norelativenumber
set number relativenumber
set ruler
set ignorecase
set showmode
set paste
set clipboard=unnamed
set clipboard+=ideaput
set NERDTree


"INSERT MODE"
"Easy exiting of insert mode"
imap jj <Esc>

"Remove arrow keys"
imap <up>
imap <down>
imap <left>
imap <right>


"NORMAL MODE"
"Remove arrow keys"
nmap <up> <C-w><up>
nmap <down> <C-W><down>
nmap <left> <C-w><left>
nmap <right> <C-w><right

"Remapping Control-R to capital U"
nmap U <C-r>

"Search results in center of screen"
nmap n nzz
nmap N Nzz

"Inserting blank lines with enter"
nmap <enter> o<esc>
nmap <S-enter> O<esc>

"Highlight all"
nmap ga ggVG




"LEADER"
let mapleader = " "

"INSERT MODE"
imap <leader><leader> <esc>

"NORMAL MODE"
"Actions"
nmap <leader>~ <AcTion>(Run)
nmap <leader>` <action>(RunClass)
nmap <leader>d <action>(Debug)
nmap <leader>b <action>(ToggleLineBreakpoint)

"Navigation"
nmap <leader>e :NERDTree<CR>
nmap <leader>q <action>(CloseEditor)
nmap <leader>t <action>(NextTab)
nmap <leader>r <action>(PreviousTab)
nmap <leader>w <C-w>w
nmap <leader>v <C-w>v
nmap <leader>h <C-w>s

"Appends"
nmap <leader>, A,<Esc>j
nmap <leader>; A;<Esc>j
nmap <leader>' I'<Esc>A'<Esc>j
nmap <leader>" I"<Esc>A"<Esc>j
nmap <leader>( I(<Esc>A)<Esc>j
nmap <leader>) <leader>(
nmap <leader>[ I[<Esc>A]<Esc>j
nmap <leader>] <leader>[
nmap <leader>{ I{<Esc>A}<Esc>j
nmap <leader>} <leader>{

"Comments"
nmap <leader>/ <action>(CommentByLineComment)
nmap <leader>? yy P <leader>/ I<Esc>l

"Special Paste"
nmap <leader>p "0p
