" settings
set scrolloff=10
set incsearch
"set number norelativenumber
set number relativenumber
set ruler
set ignorecase
set showmode
set paste
set clipboard=unnamed
set clipboard+=ideaput

" --- enable ideavim plugins https://jb.gg/ideavim-plugins
plug 'machakann/vim-highlightedyank'
plug 'tpope/vim-commentary'
plug 'preservim/nerdtree'
plug 'terryma/vim-multiple-cursors'


" highlight  text
"" -- map ide actions to ideavim -- https://jb.gg/abva4t
let mapleader = " "

map <leader>r <action>(Run)
map <leader>d <action>(Debug)
map <leader>b <action>(ToggleLineBreakpoint)
map <leader>1 <action>(PreviousTab)
map <leader>2 <action>(NextTab)
"nmap <s-tab> <action>(NextTab)
"nmap <c-tab> <action>(PreviousTab)

" don't use ex mode, use q for formatting.
map q gq

imap <s-enter> <esc>
imap <up> <esc><up>
imap <down> <esc><down>
imap <left> <esc><left>
imap <right> <esc><right>

nmap <enter> o<esc>
nmap <S-enter> O<esc>

nmap ga ggVG
nmap gcc <action>(CommentByLineComment)
nmap gyc  yy P gccI<Esc>l


"" map \r to the reformat code action

